/*------------------------------------*\
    #BASE - Typography
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    min-height: 1.2em; // so that elements can be floated inside headings
    padding: 0;
    margin: 0;
    position: relative;
    font-weight: 400;
    line-height: 1.2;
}
h1 {

}
h2 {

}
h3 {

}
h4 {

}

a {
    color: $brand;
    text-decoration: none;
}

p {
    margin: 0;
    &:not(:last-child) {
        margin-bottom: $default-margin;
    }
    &:empty {
        @extend .hidden;
    }
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
ol:not([class]),
ul:not([class]),
.default-list {
    li {
        padding-left: $default-padding;
        margin-bottom: ($default-margin / 2);
        position: relative;
        &:last-child {
            margin-bottom: $default-margin;
        }
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            font-family: $secondary-font-stack;
            font-weight: 600;
        }
    }
    ol:not([class]),
    ul:not([class]),
    .default-list {
        margin-top: 1rem;
    }
}
ol:not([class]),
ol.default-list {
    counter-reset: ordered-list;
    li {
        counter-increment: ordered-list;
        &:before {
            content: counter(ordered-list) ".";
        }
    }
}
ul:not([class]) li:before,
ul.default-list li:before {
    content: "\2022";
    font-size: 1.5rem;
    line-height: 1;
}
dl {
    width: 100%;
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: $default-margin;
    }
    dt {
        width: auto;
        min-width: 10rem;
        float: left;
        clear: left;
        @include media("<=small") {
            float: none;
        }
    }
    dd {
        width: $max-wrapper-width;
        display: table-cell;
        margin: 0;
        overflow: hidden;
        vertical-align: top;
        @include media("<=small") {
            width: auto;
            display: block;
            margin-left: $default-margin;
        }
    }
}

img,
a img {
    width: auto;
    max-width: 100%;
    height: auto;
}
figure {
    &:not(:last-child) {
        margin-bottom: $default-margin;
    }
    img,
    svg {
        @extend %rounded;
    }
    a {
        color: inherit;
    }
}
    figcaption {

    }

abbr[title],
blockquote,
cite,
dfn[title] {

}
abbr[title],
dfn[title] {
    cursor: help;
}
ins {
    text-decoration: none;
}

q {
    font-style: italic;
    quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    p {
        margin-bottom: 0 !important;
        &:before {
            content: open-quote;
            padding-right: .1875rem;
        }
        &:after {
            content: close-quote;
            padding-left: .1875rem;
        }
    }
    cite {
        display: block;
        &:before {
            content: "\2013\00a0";
        }
    }
}

hr {

}

/**
 * Fix `iframe` and `video`
 */
iframe,
video {
    width: 100%;
    border: none;
    overflow-x: hidden;
}
iframe {
    margin-bottom: $default-margin;
}

::selection {
    background: $white;
    color: $black;
}
