/*------------------------------------*\
    #OBJECTS - Content
\*------------------------------------*/

.content {
    padding-top:    2rem;
    padding-bottom: 2rem;
    @include media("<=medium") {
        display: flex;
        flex-direction: column;
    }
}

.sectionHead {
    color: $brand;
    font-family: $secondary-font-stack;
}