/*------------------------------------*\
    #OBJECTS - Content
\*------------------------------------*/

.content {
    @include media("<=medium") {
        display: flex;
        flex-direction: column;
    }
    a {
        font-weight: 600;
        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }
}

.sectionHead {
    color: $brand;
    font-family: $secondary-font-stack;
}