//
// #SETTINGS - Global
//

/// Wrapper and @media $variables
$wrapper-padding:      1.25rem  !default;
$max-wrapper-width:    1200px   !default;
$medium-wrapper-width:  820px   !default;
$small-wrapper-width:   500px   !default;
$breakpoints:  (
    "large":   $max-wrapper-width,
    "medium":  $medium-wrapper-width,
    "small":   $small-wrapper-width
)  !default; // overwrite include-media.scss

/// Layout $variables
$default-margin:         $wrapper-padding  !default;
$default-padding:        2.50rem           !default;
$default-border:         0.25rem           !default;
$default-border-radius:  0.25rem           !default;
$aside-width:           16.00rem           !default;

/// Opacity $variables
$opacity-low:     0.10  !default;
$opacity-medium:  0.25  !default;
$opacity-high:    0.70  !default;

/// Color $variables
$brand:             #8cddff                           !default;
$brand-light:       lighten($brand, 25%)              !default;
$brand-alt:         #f473ff                           !default;
$brand-alt-light:   lighten($brand-alt, 25%)          !default;
$text-color:        #f8f8f8                           !default;
$text-color-alt:    #737373                           !default;
$text-color-light:  #dddddd                           !default;
$white:             #ffffff                           !default;
$black:             #1d1d1d                           !default;
$black-light:       rgba($black, ($opacity-low / 2))  !default;
$black-medium:      rgba($black, $opacity-low)        !default;
$black-dark:        rgba($black, $opacity-medium)     !default;

/// Font $variables
$base-font-size:        16px !default;
$primary-font-stack:    Georgia, serif      !default;
$secondary-font-stack:  sans-serif          !default;
$heading-font-stack:    Impact, sans-serif  !default;

/// Transition $variables
$transition-time:      0.2s  !default;
$transition-function:  ease  !default;
