@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, .page-home .nav-primary-home a,
.page-about .nav-primary-about a,
.page-projects .nav-primary-projects a,
.page-life-comix .nav-primary-life-comix a,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  min-height: 100%;
  position: relative;
  overflow-y: scroll; }

html {
  background-color: #1d1d1d;
  background-image: url("/images/bg-body.png");
  color: #f8f8f8;
  font: 400 normal 100% / 1.618 "Abel", Arial, "Helvetica Neue", Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  min-height: 1.25em;
  padding: 0;
  margin: 0;
  position: relative;
  font-weight: 400;
  line-height: 1.25; }

h1,
h2,
h3 {
  color: #8cddff;
  font-weight: 600;
  text-shadow: 0 0 0.5rem #8cddff; }

h1 {
  font-size: 2.25rem;
  text-transform: uppercase; }

h2 {
  font-size: 1.5rem; }

h2 {
  padding-bottom: 1.5rem; }

h3 {
  font-size: 1.125rem;
  text-shadow: 0 0 0.5rem rgba(140, 221, 255, 0.7); }

h3 {
  padding-bottom: 0.75rem; }
  :not(h2) + h3 {
    padding-top: 0.75rem; }

p {
  margin: 0 0 1.5rem; }
  p:last-child {
    margin-bottom: 0; }

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none; }

ol:not([class]) li,
ul:not([class]) li,
.default-list li {
  padding-left: 2.25rem;
  margin-bottom: 0.75rem;
  position: relative; }
  ol:not([class]) li:last-child,
  ul:not([class]) li:last-child,
  .default-list li:last-child {
    margin-bottom: 1.5rem; }
  ol:not([class]) li::before,
  ul:not([class]) li::before,
  .default-list li::before {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600; }

ol:not([class]) ol:not([class]),
ul:not([class]) ol:not([class]),
.default-list ol:not([class]), ol:not([class])
ul:not([class]),
ul:not([class])
ul:not([class]),
.default-list
ul:not([class]), ol:not([class])
.default-list,
ul:not([class])
.default-list,
.default-list
.default-list {
  margin-top: 1.5rem; }

ol:not([class]),
ol.default-list {
  counter-reset: ordered-list; }
  ol:not([class]) li,
  ol.default-list li {
    counter-increment: ordered-list; }
    ol:not([class]) li::before,
    ol.default-list li::before {
      content: "# " counter(ordered-list); }

ul:not([class]) li::before,
ul.default-list li::before {
  content: "•";
  font-size: 1.5rem;
  line-height: 1; }

dl {
  width: 100%;
  overflow: hidden; }
  dl:not(:last-child) {
    margin-bottom: 1.5rem; }
  dl dt {
    width: auto;
    min-width: 12rem;
    float: left;
    clear: left;
    font-weight: 600; }
    @media (max-width: 500px) {
      dl dt {
        float: none; } }
  dl dd {
    width: 1160px;
    display: table-cell;
    margin: 0;
    overflow: hidden;
    vertical-align: top; }
    @media (max-width: 500px) {
      dl dd {
        width: auto;
        display: block;
        margin-left: 1.5rem; } }

img,
a img {
  width: auto;
  max-width: 100%;
  height: auto; }

figure {
  margin: 0 0 1.5rem; }

blockquote,
:lang(en) blockquote {
  quotes: "“" "”" "‘" "’"; }

:lang(de) blockquote {
  quotes: "„" "“" "‚" "‘"; }

:lang(fr) blockquote {
  quotes: "« " " »" "‹ " " ›"; }

blockquote p {
  margin-bottom: 0 !important; }
  blockquote p::before {
    content: open-quote; }
  blockquote p::after {
    content: close-quote; }

blockquote cite {
  display: block; }
  blockquote cite::before {
    content: "‐ "; }

q {
  font-style: italic; }
  q,
  :lang(en) q {
    quotes: "“" "”" "‘" "’"; }
  :lang(de) q {
    quotes: "„" "“" "‚" "‘"; }
  :lang(fr) q {
    quotes: "« " " »" "‹ " " ›"; }

abbr[title],
blockquote,
cite,
dfn[title] {
  font-style: italic; }

abbr[title],
dfn[title] {
  border-bottom-width: 1px dotted;
  border-bottom-style: dotted;
  cursor: help; }

ins {
  text-decoration: none; }

time {
  display: block; }

hr {
  background-color: #8cddff;
  width: 100%;
  max-width: 530px;
  height: 0.125rem;
  display: block;
  border: 0;
  margin: 2.25rem auto;
  box-shadow: 0 0 0.5rem #f473ff; }
  @media (max-width: 800px) {
    blockquote + hr,
    dl + hr,
    ol + hr,
    ul + hr,
    figure:not([class]) + hr,
    p + hr {
      margin-top: 1.5rem; } }

/**
 * Fix `iframe` and `video`
 */
iframe,
video {
  width: 100%;
  border: none;
  overflow-x: hidden; }

iframe {
  margin-bottom: 1.5rem; }

pre {
  margin-top: 0;
  margin-bottom: 1.5rem;
  white-space: pre-wrap; }

a {
  position: relative;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap; }
  a:not([class]) {
    padding: .125em .25em; }
  a, a:link, a:visited {
    color: #8cddff; }
  a:hover, a:focus, a:active, .page-home .nav-primary-home a,
  .page-about .nav-primary-about a,
  .page-projects .nav-primary-projects a,
  .page-life-comix .nav-primary-life-comix a {
    color: #f473ff;
    text-decoration: none; }
  a:not([class])::before {
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
    will-change: width;
    content: "";
    background-color: #0d0d0d;
    width: 0;
    height: 100%;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: #8cddff;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    z-index: -1; }
  a:not([class]):hover::before, a:not([class]):focus::before, a:not([class]):active::before, .page-home .nav-primary-home a:not([class])::before,
  .page-about .nav-primary-about a:not([class])::before,
  .page-projects .nav-primary-projects a:not([class])::before,
  .page-life-comix .nav-primary-life-comix a:not([class])::before {
    width: 100%;
    left: 0;
    right: auto;
    border-bottom-color: #f473ff; }

.heading-anchor {
  display: none;
  vertical-align: middle; }
  h1:hover > .heading-anchor, h2:hover > .heading-anchor, h3:hover > .heading-anchor, h4:hover > .heading-anchor, h5:hover > .heading-anchor, h6:hover > .heading-anchor, h1:focus > .heading-anchor, h2:focus > .heading-anchor, h3:focus > .heading-anchor, h4:focus > .heading-anchor, h5:focus > .heading-anchor, h6:focus > .heading-anchor, h1:active > .heading-anchor, h2:active > .heading-anchor, h3:active > .heading-anchor, h4:active > .heading-anchor, h5:active > .heading-anchor, h6:active > .heading-anchor {
    display: inline-block; }

button, .button {
  display: inline-block;
  outline-style: none;
  white-space: nowrap;
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  margin: 0; }

input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="week"],
textarea {
  box-sizing: inherit !important;
  outline-style: none; }

main {
  padding-bottom: 2.25rem; }

.wrap, .wrap--full-width {
  width: auto;
  max-width: 1160px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto; }

.wrap--full-width {
  width: 100%; }

.clear {
  clear: both;
  zoom: 1; }
  .clear::before, .clear::after {
    content: "";
    display: table; }
  .clear::after {
    clear: both; }

header {
  padding-top: 1.5rem;
  overflow-y: hidden; }
  @media (max-width: 800px) {
    header {
      text-align: center; } }

article {
  padding-top: 2.25rem;
  margin-top: 1.5rem; }
  @media (min-width: 801px) {
    article {
      padding-left: 18.25rem; } }
  @media (max-width: 800px) {
    article {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

aside {
  -webkit-animation: none !important;
          animation: none !important; }
  @media (min-width: 801px) {
    aside {
      width: 16rem;
      float: left;
      margin-left: -18.25rem; }
      aside[class*="main-aside"] {
        width: auto;
        max-width: 32rem;
        margin-right: 2.25rem;
        margin-bottom: 2.25rem; }
        aside[class*="main-aside"][class*="main-aside--full"] {
          max-width: 100%;
          float: none;
          margin-left: 0;
          margin-right: 0; } }
  @media (max-width: 800px) {
    aside {
      width: 100%;
      margin-bottom: 1.5rem; }
      aside:not([class*="main-aside"]) {
        background: red;
        padding: 0.75rem; }
        aside:not([class*="main-aside"]):last-child {
          margin-bottom: 0; } }
  aside p,
  aside figcaption {
    clear: both; }
    @media (min-width: 501px) {
      aside p,
      aside figcaption {
        font-size: 0.875rem; } }

footer {
  color: #f473ff;
  border-top: 0.3125rem solid rgba(248, 248, 248, 0.1);
  padding-top: 2.25rem;
  padding-bottom: 2.25rem; }
  footer section {
    max-width: 800px !important;
    /* autoprefixer: off */
    background-image: -webkit-linear-gradient(top, #7795B0 0, #7795B0 3px, #6581B0 4px, #6380AE 30%, #DDC4C3 50%, #B9957F 50%, #B9957F 53%, #D18B2D 53%, #DDC4C3 80%);
    /* autoprefixer: off */
    -webkit-background-clip: text;
    /* autoprefixer: off */
    -webkit-text-fill-color: transparent; }

.logo {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
  position: relative; }
  .logo:hover, .logo:focus {
    -webkit-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem); }
  .logo:active {
    -webkit-transform: translateY(0.25rem);
            transform: translateY(0.25rem); }
  .logo img {
    margin: 0; }

.nav-primary {
  float: right;
  padding: 3.25rem 0;
  white-space: nowrap;
  overflow: hidden; }
  @media (max-width: 800px) {
    .nav-primary {
      float: none;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; } }
  @media (max-width: 500px) {
    .nav-primary {
      width: 100%;
      padding-bottom: 0; } }

.nav-primary-list {
  font-size: 0; }
  .nav-primary-list li {
    display: inline-block;
    font-size: 1.125rem; }
    @media (max-width: 500px) {
      .nav-primary-list li {
        width: 33.333%; } }
  .nav-primary-list a {
    display: block;
    padding: 0.75rem 1.5rem;
    border-radius: 0; }
    @media (max-width: 500px) {
      .nav-primary-list a {
        padding: 0.75rem 0;
        text-align: center; } }

article {
  position: relative; }
  article::before {
    content: "";
    background-color: #8cddff;
    width: 100%;
    max-width: 530px;
    height: 0.125rem;
    box-shadow: 0 0 0.5rem #f473ff; }
  .loader article > pre {
    -webkit-animation: article-loader 1.5s ease;
            animation: article-loader 1.5s ease; }

@-webkit-keyframes article-loader {
  0%,
  66.666% {
    opacity: 0;
    -webkit-transform: translateY(1em);
            transform: translateY(1em); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes article-loader {
  0%,
  66.666% {
    opacity: 0;
    -webkit-transform: translateY(1em);
            transform: translateY(1em); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.title,
.tagline {
  width: 100%;
  padding-bottom: 2.25rem; }

.farewell {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.25; }

.shell {
  background-color: rgba(13, 13, 13, 0.7);
  position: relative;
  line-height: 1.5; }
  .shell::before {
    content: "";
    background-image: -webkit-repeating-linear-gradient(top, transparent 0, rgba(248, 248, 248, 0.05) 2em, transparent 4em);
    background-image: repeating-linear-gradient(to bottom, transparent 0, rgba(248, 248, 248, 0.05) 2em, transparent 4em);
    background-size: 100% 4em;
    background-repeat: repeat-y;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    -webkit-animation: shell-scroll-scanlines 8s linear infinite;
            animation: shell-scroll-scanlines 8s linear infinite;
    z-index: 2; }
  .shell::-moz-selection {
    background-color: #f473ff;
    color: #0d0d0d;
    text-shadow: none; }
  .shell::selection {
    background-color: #f473ff;
    color: #0d0d0d;
    text-shadow: none; }
  .shell code {
    padding: 1.5rem; }

@-webkit-keyframes shell-scroll-scanlines {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -12em; } }

@keyframes shell-scroll-scanlines {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -12em; } }

/**
 * Article Special Login-style Lede
 */
.lede--shell {
  background-clip: padding-box;
  border-radius: 0.25rem;
  color: #f473ff;
  border: 0.3125rem solid rgba(248, 248, 248, 0.1);
  font-size: 1.125rem;
  text-shadow: 0 0 0.125rem #f473ff;
  box-shadow: 0 0.5rem 0.5rem rgba(13, 13, 13, 0.5);
  -webkit-animation: shell-scroll-colors 8s linear infinite;
          animation: shell-scroll-colors 8s linear infinite; }
  .lede--shell pre {
    margin-bottom: 0; }
  .lede--shell code {
    display: table;
    padding-bottom: 0; }
    @media (min-width: 1001px) {
      .lede--shell code {
        max-width: 32rem; } }

@media (max-width: 1000px) and (min-width: 801px) {
  .lede--shell code {
    max-width: 24rem; } }
    .main-aside--full .lede--shell code {
      width: auto;
      max-width: 100%; }
    @media (max-width: 800px) {
      .lede--shell code,
      .main-aside--full .lede--shell code {
        width: 100%;
        max-width: 100%; } }
  .lede--shell .lede--shell-input {
    max-width: 100%;
    padding-left: 1.2em;
    margin: 0 1.5rem 1.5rem;
    position: relative;
    overflow: hidden;
    outline: none;
    visibility: visible;
    -webkit-animation: shell-input-delay 2.2s ease;
            animation: shell-input-delay 2.2s ease; }
    .lede--shell .lede--shell-input::before {
      content: "> \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A >";
      position: absolute;
      top: 0;
      left: 0; }

@-webkit-keyframes shell-input-delay {
  0%,
  99.999% {
    opacity: 0;
    pointer-events: none; }
  100% {
    opacity: 1;
    pointer-events: auto; } }

@keyframes shell-input-delay {
  0%,
  99.999% {
    opacity: 0;
    pointer-events: none; }
  100% {
    opacity: 1;
    pointer-events: auto; } }

/**
 * Create a loading effect at the bottom of the .lede-shell if it's a page class
 */
/*body*/
.loader .lede--shell code::after {
  content: "████████████████████";
  width: 12em;
  display: block;
  overflow: hidden;
  pointer-events: none;
  font-family: Monaco, Consolas, Courier, monospace;
  -webkit-animation: shell-loader 1s steps(19, end);
          animation: shell-loader 1s steps(19, end); }

@-webkit-keyframes shell-scroll-colors {
  0%,
  22.999% {
    color: #f473ff;
    text-shadow: 0 0 0.125rem #f473ff; }
  23%,
  32.999% {
    color: rgba(244, 115, 255, 0.5);
    text-shadow: 0 0 0.125rem rgba(244, 115, 255, 0.5); }
  33%,
  70.999% {
    color: #f473ff;
    text-shadow: 0 0 0.125rem #f473ff; }
  71%,
  71.999% {
    color: transparent;
    text-shadow: none; }
  72%,
  72.999% {
    color: #8cddff;
    text-shadow: 0 0 0.125rem #8cddff; }
  73%,
  73.999% {
    color: transparent;
    text-shadow: none; }
  74%,
  100% {
    color: #f473ff;
    text-shadow: 0 0 0.125rem #f473ff; } }

@keyframes shell-scroll-colors {
  0%,
  22.999% {
    color: #f473ff;
    text-shadow: 0 0 0.125rem #f473ff; }
  23%,
  32.999% {
    color: rgba(244, 115, 255, 0.5);
    text-shadow: 0 0 0.125rem rgba(244, 115, 255, 0.5); }
  33%,
  70.999% {
    color: #f473ff;
    text-shadow: 0 0 0.125rem #f473ff; }
  71%,
  71.999% {
    color: transparent;
    text-shadow: none; }
  72%,
  72.999% {
    color: #8cddff;
    text-shadow: 0 0 0.125rem #8cddff; }
  73%,
  73.999% {
    color: transparent;
    text-shadow: none; }
  74%,
  100% {
    color: #f473ff;
    text-shadow: 0 0 0.125rem #f473ff; } }

@-webkit-keyframes shell-loader {
  0%,
  49.999% {
    width: 0; }
  50% {
    width: .6em; }
  100% {
    width: 12em; } }

@keyframes shell-loader {
  0%,
  49.999% {
    width: 0; }
  50% {
    width: .6em; }
  100% {
    width: 12em; } }

.modal-toggle {
  margin-bottom: 2.25rem; }

.modal-toggle-box {
  height: 250px;
  position: relative;
  overflow: hidden;
  z-index: 3; }
  .modal-toggle-input:checked + .modal-toggle-box {
    background: #1d1d1d;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; }
  .modal-toggle-box figure {
    margin: 0; }
  .modal-toggle-box img {
    max-width: 100%;
    display: block;
    margin: 0 auto; }
  .modal-toggle-input:not(:checked) + .modal-toggle-box img {
    opacity: .5;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }

.modal-toggle-label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer; }

/**
 * Contains embedded media properly and allows them to be dynamically resized.
 */
.media {
  height: 0;
  padding-top: 30px;
  padding-bottom: 56.65%;
  position: relative;
  overflow: hidden; }
  .media embed,
  .media iframe,
  .media object,
  .media video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.hidden, .svg--master, a span:not([class]):not([itemprop]),
.hide {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important; }

.remove,
.removed,
p:empty {
  display: none !important; }

.non-selectable, button, .button, .logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: default;
  -webkit-touch-callout: none; }

.hyphen,
.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

.border-radius,
.round,
.rounded,
aside:not([class*="main-aside"]) {
  background-clip: padding-box;
  border-radius: 0.25rem; }

.border-radius-thin,
.round-thin,
.rounded-thin,
a:not([class])::before {
  background-clip: padding-box;
  border-radius: 0.125rem; }
