////
/// Anchors
/// @group base
////


%anchor {
    position: relative;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;

    &:not([class]) {
        padding: .125em .25em;
    }

    &,
    &:link,
    &:visited {
        color: $color-brand;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color-brand-alt;
        text-decoration: none;
    }

    &:not([class]) {
        &:before {
            @extend .rounded-thin;
            @include transition(width);
            @include will-change(width);
            content: "";
            background-color: $color-black-alt;
            width: 0;
            height: 100%;
            border-bottom-width: $border-default;
            border-bottom-style: solid;
            border-bottom-color: $color-brand;
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            z-index: z-index(below);
        }

        &:hover,
        &:focus,
        &:active {
            &:before {
                width: 100%;
                left: 0;
                right: auto;
                border-bottom-color: $color-brand-alt;
            }
        }
    }

    span:not([class]):not([itemprop]) {
        @extend .hidden;
    }
}

a {
    @extend %anchor;
}

.heading-anchor {
    display: none;
    vertical-align: middle;

    :hover > &,
    :focus > &,
    :active > & {
        display: inline-block;
    }
}
