////
/// Buttons
/// @group base
////

%button {
    @extend .non-selectable;
    display: inline-block;
    outline-style: none;
    white-space: nowrap;
    cursor: pointer;

    &,
    &:link,
    &:visited {

    }

    &:hover,
    &:focus,
    &:active {

    }

    &:active {

    }
}

button, .button {
    @extend %button;
}

button {
    &[disabled] {

    }

    &::-moz-focus-inner {
        padding: 0;
        margin: 0;
    }
}
