////
/// Typography (Global)
/// @group base
////

html {
    background-color: $color-black;
    background-image: url("/images/bg-body.png");
    color: $color-white;
    font: $font-weight-default $font-style-default #{$font-size-default}/#{$line-height-default} $font-family-default;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

// Content Elements
blockquote,
dl,
ol,
ul,
figure:not([class]),
p {
    @extend %content-elements;
}


%heading {
    // so that elements can be floated inside headings
    min-height: 1.25em;
    padding: 0;
    margin: 0;
    position: relative;
    font-weight: $font-weight-default;
    line-height: 1.25;
}
h1, h2, h3, h4, h5, h6 {
    @extend %heading;
}

%alpha,
%beta,
%delta {
    color: $color-brand;
    font-weight: $font-weight-bold;
    text-shadow: 0 0 .5rem $color-brand;
}

%alpha {
    font-size: $font-size-larger;
    text-transform: uppercase;
}
h1 {
    @extend %alpha;
}

%beta {
    font-size: $font-size-large;
}
h2 {
    @extend %beta;
    padding-bottom: $measure-medium;
}

%delta {
    font-size: $font-size-medium;
    text-shadow: 0 0 .5rem rgba($color-brand, opacity("70-percent"));
}
h3 {
    @extend %delta;
    padding-bottom: $measure-small;

    :not(h2) + & {
        padding-top: $measure-small;
    }
}

%gamma {

}
h4 {
    @extend %gamma;
}

p {
    margin: 0 0 $measure-medium;
    line-height: 2;

    &:last-child {
        margin-bottom: 0;
    }

    &:empty {
        @extend .removed;
    }
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
ol:not([class]),
ul:not([class]),
.default-list {
    li {
        padding-left: $measure-large;
        margin-bottom: $measure-small;
        position: relative;

        &:last-child {
            margin-bottom: $measure-medium;
        }

        &::before {
            @include position(left);
            color: $color-text-alt;
            font-style: italic;
            font-weight: $font-weight-bold;
        }
    }

    & & {
        margin-top: $measure-medium;
    }
}
ol:not([class]),
ol.default-list {
    counter-reset: ordered-list;

    li {
        counter-increment: ordered-list;

        &::before {
            content: "#" counter(ordered-list);
        }
    }
}
ul:not([class]) li::before,
ul.default-list li::before {
    // BULLET
    content: "•";
    // 24px
    font-size: 1.5rem;
    line-height: 1;
}
dl {
    width: 100%;
    overflow: hidden;

    &:not(:last-child) {
        margin-bottom: $measure-medium;
    }

    dt {
        width: auto;
        min-width: 12rem;
        float: left;
        clear: left;
        font-weight: $font-weight-bold;

        @include media("<=small") {
            float: none;
        }
    }

    dd {
        width: $wrapper-width-large;
        display: table-cell;
        margin: 0;
        overflow: hidden;
        vertical-align: top;

        @include media("<=small") {
            width: auto;
            display: block;
            margin-left: $measure-medium;
        }
    }
}

img,
a img {
    width: auto;
    max-width: 100%;
    height: auto;
}
figure {
    margin: 0 0 $measure-medium;

    img,
    svg {

    }

    a:link,
    a:visited,
    figcaption {

    }
}

blockquote {
    @include quotes;

    p {
        margin-bottom: 0 !important;

        &::before {
            content: open-quote;
        }

        &::after {
            content: close-quote;
        }
    }

    cite {
        display: block;

        &::before {
            // HYPHEN, NO-BREAK SPACE
            content: "‐ ";
        }
    }
}

q {
    @include quotes;
    font-style: italic;
}

abbr[title],
blockquote,
cite,
dfn[title] {
    font-style: italic;
}
abbr[title],
dfn[title] {
    border-bottom-width: 1px dotted;
    border-bottom-style: dotted;
    cursor: help;
}
ins {
    text-decoration: none;
}

time {
    display: block;
}

hr {
    background-color: $color-brand;
    width: 100%;
    max-width: 530px; // it just works, lines up with <h1>
    height: $border-default;
    display: block;
    border: 0;
    margin: $measure-large auto;
    box-shadow: 0 0 .5rem $color-brand-alt;

    %content-elements + & {
        @include media("<=medium") {
            margin-top: $measure-medium;
        }
    }
}

/**
 * Fix `iframe` and `video`
 */
iframe,
video {
    width: 100%;
    border: none;
    overflow-x: hidden;
}
iframe {
    margin-bottom: $measure-medium;
}

::selection {

}
