////
/// Typography (Code)
/// @group base
////

code,
kbd,
samp,
var,
.monospace {

}

pre {
    @extend %content-element;
    // override `normalize.css`
    margin-top: 0;
    margin-bottom: $spacing-medium;
    white-space: pre-wrap;
}
