////
/// Variables (Global)
/// @group utils
////


/// @type Length
$wrapper-width-small:  500px !default;
/// @type Length
$wrapper-width-medium: 800px !default;
/// @type Length
$wrapper-width-medium-large: 1000px !default;
/// @type Length
$wrapper-width-large: 1160px !default;
/// @type Map
/// @prop {String} key - Breakpoint name
/// @prop {Length} value - Breakpoint value
$breakpoints: (
    "small":        $wrapper-width-small,
    "medium":       $wrapper-width-medium,
    "medium-large": $wrapper-width-medium-large,
    "large":        $wrapper-width-large
) !default;


/// @type Length
$wrapper-padding: 1.5rem !default;
/// @type Length
$aside-width:      16rem !default;


/// @type Length
$measure-small:  0.750rem !default;
/// @type Length
$measure-medium: 1.500rem !default;
/// @type Length
$measure-large:  2.250rem !default;


/// @type Map
/// @prop {String} key - Opacity name
/// @prop {Number} value - Opacity value
$opacities: (
    '5-percent':  0.05,
    '10-ercent':  0.10,
    '25-percent': 0.25,
    '70-percent': 0.70
) !default;


/// @type Color
$color-brand: #8cddff !default;
/// @type Color
$color-brand-alt: #f473ff !default;
/// @type Color
$color-text: #3f3f3f !default;
/// @type Color
$color-text-alt: #777777 !default;
/// @type Color
$color-text-light: #cccccc !default;
/// @type Color
$color-white: #f8f8f8 !default;
/// @type Color
$color-black: #1d1d1d !default;
/// @type Color
$color-black-alt: #0d0d0d !default;


/// @type Length
$border-default: 0.125rem !default;
/// half of $border-default
/// @type Length
$border-thick: 0.3125rem !default;


/// @type Length
$border-radius-default: 0.25rem !default;
/// same length as $border-default
/// @type Length
$border-radius-thin: $border-default !default;


/// @type String
$font-weight-default: 400 !default;


/// @type String
$font-style-default: normal !default;


/// @type Length
$font-size-default: 100% !default;
/// @type Length
$font-size-smaller: .8125rem !default;
/// @type Length
$font-size-small: .875rem !default;
/// @type Length
$font-size-medium: 1.125rem !default;
/// @type Length
$font-size-large: 1.5rem !default;
/// @type Length
$font-size-larger: 2.25rem !default;
/// @type Map
/// @prop {String} key - Font Size name
/// @prop {Number} value - Font Size value
$font-sizes: (
    "smaller": $font-size-smaller,
    "small":   $font-size-small,
    "large":   $font-size-large,
    "larger":  $font-size-larger
) !default;


/// @type List
$font-family-default: "Abel", Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
/// @type List
$font-family-alpha: "Englebert", sans-serif !default;
/// @type List
$font-family-beta: "Oswald", sans-serif !default;
/// @type List
$font-family-monospace: Monaco, Consolas, Courier, monospace !default;
/// @type Map
/// @prop {String} key - Font Family name
/// @prop {Number} value - Font Family value
/// @require {Variable} $font-family-default
/// @require {Variable} $font-family-alpha
/// @require {Variable} $font-family-beta
/// @require {Variable} $font-family-monospace
/// @see {Mixin} font-family
$font-families: (
    "default":   $font-family-default,
    "alpha":     $font-family-alpha,
    "beta":      $font-family-beta,
    "monospace": $font-family-monospace
) !default;


/// @type Number
$line-height-default: 1.618 !default;


/// @type Length
/// @see {mixin} transition
$transition-time: 0.2s !default;
/// @type String
/// @see {mixin} transition
$transition-function: ease !default;


/// @type Map
/// @prop {String} key - z-index name
/// @prop {Number} value - z-index value
/// @see {function} z-index
$z-indexes: (
    "below":  -1,
    "default": 1,
    "above":   2,
    "ultra":   3
) !default;
