////
/// Variables (Global)
/// @group utils
////


/// @type Length
$wrapper-width-small:  500px !default;
/// @type Length
$wrapper-width-medium: 800px !default;
/// @type Length
$wrapper-width-large: 1200px !default;
/// @type Map
/// @prop {String} key - Breakpoint name
/// @prop {Length} value - Breakpoint value
$breakpoints: (
    "small":  $wrapper-width-small,
    "medium": $wrapper-width-medium,
    "large":  $wrapper-width-large
) !default;
/// @type Length
$wrapper-padding: 1.5rem !default;
/// @type Length
$aside-width: 16rem !default;


/// @type Length
$spacing-small: ($wrapper-padding / 2) !default;
/// @type Length
$spacing-medium: $wrapper-padding !default;
/// @type Length
$spacing-large: 2.25rem !default;


/// @type Length
$border-default: 0.125rem !default;
/// half of $border-default
/// @type Length
$border-thin: ($border-default / 2) !default;


/// @type Length
$border-radius-default: 0.25rem !default;
/// same length as $border-default
/// @type Length
$border-radius-thin: $border-default !default;


/// @type Map
/// @prop {String} key - Opacity name
/// @prop {Number} value - Opacity value
$opacities: (
    'low':    0.05,
    'medium': 0.10,
    'high':   0.25,
    'ultra':  0.70
) !default;


/// @type Color
$color-brand: #8cddff !default;
/// @type Color
$color-brand-alt: #f473ff !default;
/// @type Color
$color-text: #3f3f3f !default;
/// @type Color
$color-text-alt: #777777 !default;
/// @type Color
$color-text-light: #cccccc !default;
/// @type Color
$color-white: #ffffff !default;
/// @type Color
$color-black: #1d1d1d !default;
/// @type Color
$color-black-alt: #0d0d0d !default;


/// @type Length
$base-font-size: 100% !default;
/// @type Number
$base-line-height: 1.618 !default;
/// @type String
$base-font-style: normal !default;
/// @type String
$base-font-weight: 400 !default;
/// @type List
$font-stack-primary: "Abel", Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
/// @type List
$font-stack-secondary: "Oswald", sans-serif !default;
/// @type List
$font-stack-heading: "Englebert", sans-serif !default;
/// @type Length
$font-size-smaller: .8125rem !default;
/// @type Length
$font-size-small: .875rem !default;
/// @type Length
$font-size-large: 1.25rem !default;
/// @type Length
$font-size-larger: 1.375rem !default;
/// @type Map
/// @prop {String} key - Font Size name
/// @prop {Number} value - Font Size value
$font-sizes: (
    "smaller": $font-size-smaller,
    "small":   $font-size-small,
    "large":   $font-size-large,
    "larger":  $font-size-larger
) !default;


/// @type Length
/// @see {mixin} transition
$transition-time: 0.2s !default;
/// @type String
/// @see {mixin} transition
$transition-function: ease !default;


/// @type Map
/// @prop {String} key - z-index name
/// @prop {Number} value - z-index value
/// @see {function} z-index
$z-indexes: (
    "below":  -1,
    "default": 1,
    "above":   2
) !default;
