---
layout: default
page_class: page-home
searchable: no-content

title: COBALT AND ELECTRICITY
---


<p>Welcome one and all to the FLYKNIFE COMIX WEBZONE. Here you will find all the neat deets and slick tricks you’ll need to fight R.A.N.C.O.U.R and Commander Zeta on the streets of HALIFAX_1. Deck fast, Deckers, the Apocalypse Clock is ticking.</p>

<ol class="default-list  articles-list" role="list" reversed>
    {% for post in site.posts %}
        <li id="{{ post.slug }}">
            <a href="{{ post.url }}">
                <div class="post-preview">
                    <div class="post-preview-tombstone">
                        <div class="post-preview-topline">
                            <time datetime="{{ post.date | date_to_xmlschema }}" class="preview-time">{{ post.date | date: '%d %B, %Y' }}</time>
                            <span class="post-author-indicator {{ post.author | downcase }}">{{ post.author }}</span>
                        </div>
                        <div class="post-preview-body">
                            {{ post.title }}
                        </div>
                    </div>
                    <div class="post-preview-content">
                        {% assign max_length = 120 -%}
                        {% assign the_content = post.content | split: " " -%}
                        {% assign cumul_string = "" -%}

                        {% for word in the_content -%}
                            {% assign temp = cumul_string | append: " " | append: word | strip -%}
                            {% if temp.size <= max_length -%}
                                {% assign cumul_string = temp -%}
                            {% else -%}
                                {% break -%}
                            {% endif -%}
                        {% endfor -%}

                        <p>{{ cumul_string }}...</p>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
</ol>
