////
/// Article
/// @group layout
////

article {
    padding-top: $measure-large;
    margin-top: $measure-medium;

    @include media(">medium") {
        padding-left: ($aside-width + $measure-large);
    }

    @include media("<=medium") {
        display: flex;
        flex-direction: column;
    }
}
