////
/// Aside
/// @group layout
////

aside {
    animation: none !important;

    @include media(">medium") {
        width: $aside-width;
        float: left;
        margin-left: -($aside-width + $spacing-large);

        &[class*="main-aside"] {
            width: auto;
            max-width: ($aside-width * 2);
            margin-right:  $spacing-large;
            margin-bottom: $spacing-large;

            &[class*="main-aside--full"] {
                max-width: 100%;
                float: none;
                margin-left:  0;
                margin-right: 0;
            }
        }
    }

    @include media("<=medium") {
        width: 100%;
        margin-bottom: $spacing-medium;

        &:not([class*="main-aside"]) {
            @extend .rounded;
            background: red;
            padding: $spacing-small;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    p,
    figcaption {
        clear: both;

        @include media(">small") {
            font-size: $font-size-small;
        }
    }
}
