////
/// Footer
/// @group layout
////

footer {
    color: $color-text-alt;
    padding-bottom: $spacing-medium;

    &.wrap {
        max-width: $wrapper-width-medium !important;
    }
}
