/*------------------------------------*\
    $BASE - Content
\*------------------------------------*/

.content {
    margin-bottom: $default-margin;
}

article {
    padding-top: $default-margin;
    border-top: $default-border solid $brand;
    @include media(">medium") {
        padding-left: ($aside-width + $default-padding);
    }
    @include media("<=medium") {
        display: flex;
        flex-direction: column;
    }
}
