/*------------------------------------*\
    $BASE - Header
\*------------------------------------*/

header {
    color: $white;
    @include media("<=medium") {
        text-align: center;
    }
}

.site-title,
.site-tagline {
    display: inline-block;
    vertical-align: middle;
}
.site-title {
    color: inherit;
    padding: .5rem;
    float: left;
    white-space: nowrap;
}

.site-tagline {
    display: table-cell;
    float: right;
}

.primary-navigation-list {
    background-color: $white;
    a {

    }
}