<!doctype html>
<html>
  <head>
    <title>Gallery Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <style>
      .current-image img {
        width: 100%;
      }
      body {
        background-color:black;
      }
      body a {
        color: white;
        font-family: 'VT323', monospace;
        font-size: 50px;
        margin: 25px;
      }
      .navigation {
        margin: 0 auto;
        text-align: center;
      }
    </style>
  </head>
  <body ng-app="bookGallery">
    <div id="top"></div>
    <div ng-controller="galleryCtrl">
      <p>{{ test }}</p>
      <current-image></current-image>
      <navigation-block></navigation-block>
      <div class="navigation">
        <a ng-click="next()" href="#top">NEXT</a>
        <input ng-model="goto.page" type="text"/>
        <a ng-click="goToPage(goto.page)" href="#top">GO</a>
        <a ng-click="prev()" href="#top">PREV</a>
      </div>
    </div>
  </body>
</html>
