<!doctype html>
<html>
  <head>
    <title>Gallery Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <style>
      .current-image img {
        width: 100%;
      }
      body {
        background-color:black;
      }
      body a {
        color: white;
        font-family: 'VT323', monospace;
      }
    </style>
  </head>
  <body ng-app="bookGallery">
    <div ng-controller="galleryCtrl">
      <p>{{ test }}</p>
      <current-image></current-image>
      <a ng-click="next()" href="">NEXT</a>
      <a ng-click="prev()" href="">PREV</a>
    </div>
  </body>
</html>
