    <footer class="wrap  clear" role="contentinfo">

        The FLYKNIFE COMICS OFFICIAL WEBZONE is currently under construction! Please bear with us while we rebuild in the wake of the Battery's destruction.
        Full functionality will be restored as promptly as possible and in accordance with the directives of the Binary Order.
        Any inquires, comments or whatnot can be directed to flyknifeComics[at]gmail[dot]com.

    </footer>

    {% include js-body.html %}

</body>
</html>
