<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, minimal-ui">

    <title>TITLE</title> <!-- CHANGE ME -->

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Englebert">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/flyknife.css"> <!-- CHANGE ME TO .min -->
    <link rel="alternate" type="application/rss+xml" href="/feed.xml">

    <link rel="shortcut icon" href="/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon.png">
    <link rel="author" href="/humans.txt">

    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-mobile-web-app-title" content="TITLE"> <!-- CHANGE ME -->
    <meta name="description" content="DESCRIPTION"> <!-- CHANGE ME -->
    <meta name="theme-color" content="#BAD455"> <!-- CHANGE ME -->

    {% if page.page_class != "page-not-found" %}
        <!-- Twitter Microdata and OpenGraph -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:creator" content="@TWITTER"> <!-- CHANGE ME -->
        <meta name="twitter:title" content="TITLE"> <!-- CHANGE ME -->
        <meta name="twitter:description" content="DESCRIPTION"> <!-- CHANGE ME -->
        <meta name="twitter:image:src" content="IMAGE"> <!-- CHANGE ME -->
        <meta name="twitter:domain" content="{{ site.url | replace: 'http://', '' }}">
        {% if page.twitter == true %}
            <meta name="twitter:widgets:theme" content="light">
            <meta name="twitter:widgets:link-color" content="#BAD455"> <!-- CHANGE ME -->
            <meta name="twitter:widgets:border-color" content="#BAD455"> <!-- CHANGE ME -->
        {% endif %}

        <meta property="og:title" content="TITLE">
        <meta property="og:description" content="DESCRIPTION">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}/{% if page.page_class != "page-home" %}{{ page.url }}{% endif %}">
        <meta property="og:image" content="IMAGE">
    {% else %}
        <meta name="robots" content="noindex,nofollow">
    {% endif %}

    {% include js-head.html %}

</head>
<body{% if body_class %} class="{{ body_class }}"{% endif %}>

    <header class="wrap  clear" role="banner">

        <a href="/" class="logo" title="Flyknife Comics" tabindex="-1">
            <img alt="" role="presentation"
                 src="/images/logo.png"
                 srcset="{{ site.url }}{{ site.baseurl }}/images/logo.png 1x,
                         {{ site.url }}{{ site.baseurl }}/images/logo@2x.png 2x">
        </a>

        {% include primary-navigation.html %}

    </header>
