////
/// Article
/// @group components
////

.title,
.tagline {
    width: 100%;
    padding-bottom: $spacing-large;
}

.farewell {
    font-size: $font-size-medium;
    font-style: italic;
    line-height: 1.25;
}
