////
/// Article
/// @group components
////

.title,
.tagline {
    width: 100%;
    margin-bottom: $spacing-large;
}

.farewell {
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.25;
}
