////
/// Article
/// @group components
////

article {
    position: relative;

    &:before {
        @include position(top-center);
        content: "";
        background-color: $color-brand;
        width: 100%;
        max-width: 530px; // it just works, lines up with <h1>
        height: $border-default;
        box-shadow: 0 0 .5rem $color-brand-alt;
    }

    // only fade in the first 10 elements (besides .main-aside)
    .loader & > %content-element {
        animation: article-loader 1.5s ease;
    }
}

@keyframes article-loader {
    0%,
    66.666% {
        opacity: 0;
        transform: translateY(1em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title,
.tagline {
    width: 100%;
    padding-bottom: $spacing-large;
}

.farewell {
    font-size: $font-size-medium;
    font-style: italic;
    line-height: 1.25;
}
