////
/// Articles List
/// @group components
////


.articles-list {
    a {
        display: inline-block;
        padding: $measure-small $measure-medium;
        font-size: $font-size-medium;

        &::before {
            border-bottom-width: $border-thick;
        }
    }

    time {
        font-style: italic;
        font-weight: $font-weight-bold;
    }
}
