////
/// Code
/// @group components
////

.shell {
    background-color: rgba($color-black-alt, opacity("70-percent"));
    position: relative;
    line-height: 1.5;

    &::before {
        content: "";
        background-image: repeating-linear-gradient(to bottom,
                                                    transparent 0,
                                                    rgba($color-white, .05) 2em,
                                                    transparent 4em);
        background-size: 100% 4em;
        background-repeat: repeat-y;
        position: absolute;
        top:    0;
        bottom: 0;
        left:   0;
        right:  0;
        pointer-events: none;
        animation: shell-scroll-scanlines 8s linear infinite;
        z-index: z-index(above);
    }

    &::selection {
        background-color: $color-brand-alt;
        color: $color-black-alt;
        text-shadow: none;
    }

    code {
        padding: $measure-medium;
    }
}

@keyframes shell-scroll-scanlines {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -12em;
    }
}

/**
 * Article Special Login-style Lede
 */
.lede--shell {
    @include border-radius;
    color: $color-brand-alt;
    border: $border-thick solid rgba($color-white, .1);
    font-size: $font-size-medium;
    text-shadow: 0 0 .125rem $color-brand-alt;
    box-shadow: 0 .5rem .5rem rgba($color-black-alt, .5);
    animation: shell-scroll-colors 8s linear infinite;

    pre {
        margin-bottom: 0;
    }

    code {
        display: table;
        padding-bottom: 0;

        @include media(">medium-large") {
            max-width: ($aside-width * 2);
        }

        @include media("<=medium-large", ">medium") {
            max-width: ($aside-width * 1.5);
        }

        .main-aside--full & {
            width: auto;
            max-width: 100%;
        }

        &,
        .main-aside--full & {
            @include media("<=medium") {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .lede--shell-input {
        max-width: 100%;
        padding-left: 1.2em;
        margin: 0 $measure-medium $measure-medium;
        position: relative;
        overflow: hidden;
        outline: none;
        visibility: visible;
        animation: shell-input-delay 2.2s ease;

        &::before {
            content: "> \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A > \A >";
            position: absolute;
            top:  0;
            left: 0;
        }
    }
}

@keyframes shell-input-delay {
    0%,
    99.999% {
        opacity: 0;
        pointer-events: none
    }
    100% {
        opacity: 1;
        pointer-events: auto;
    }
}

/**
 * Create a loading effect at the bottom of the .lede-shell if it's a page class
 */
/*body*/.loader .lede--shell {
    code {
        &::after {
            content: "████████████████████";
            width: 12em;
            display: block;
            overflow: hidden;
            pointer-events: none;
            font-family: $font-family-monospace;
            animation: shell-loader 1s steps(19, end);
        }
    }
}

@keyframes shell-scroll-colors {
    0%,
    22.999% {
        color: $color-brand-alt;
        text-shadow: 0 0 .125rem $color-brand-alt;
    }
    23%,
    32.999% {
        color: rgba($color-brand-alt, .5);
        text-shadow: 0 0 .125rem rgba($color-brand-alt, .5);
    }
    33%,
    70.999% {
        color: $color-brand-alt;
        text-shadow: 0 0 .125rem $color-brand-alt;
    }
    71%,
    71.999% {
        color: transparent;
        text-shadow: none;
    }
    72%,
    72.999% {
        color: $color-brand;
        text-shadow: 0 0 .125rem $color-brand;
    }
    73%,
    73.999% {
        color: transparent;
        text-shadow: none;
    }
    74%,
    100% {
        color: $color-brand-alt;
        text-shadow: 0 0 .125rem $color-brand-alt;
    }
}

@keyframes shell-loader {
    0%,
    49.999% {
        width: 0;
    }
    50% {
        width: .6em;
    }
    100% {
        width: 12em;
    }
}
