////
/// Code
/// @group components
////

/**
 * Article Special Login-style Lede
 */
.lede--shell {
    font-size: $font-size-medium;

    pre {
        @include media(">medium") {
            margin-bottom: 0;
        }
    }

    code {
        @include border-radius(.5em);
        color: $color-brand-alt;
        display: table;
        border: $border-thick solid rgba($color-white, .05);
        text-shadow: 0 0 .125rem $color-brand-alt;
        animation: shell-scroll-colors 8s linear infinite;

        @include media(">medium-large") {
            max-width: ($aside-width * 2);
        }

        @include media("<=medium-large", ">medium") {
            max-width: ($aside-width * 1.5);
        }

        &:before {
            @include border-radius(.5em);
        }

        .main-aside--full & {
            width: auto;
            max-width: 100%;
        }

        &,
        .main-aside--full & {
            @include media("<=medium") {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

.shell {
    position: relative;

    &:before {
        @include absolute;
        content: "";
        width:  100%;
        height: 100%;
        background-image: repeating-linear-gradient(to bottom,
                                                    transparent 0,
                                                    rgba($color-white, .05) 2em,
                                                    transparent 4em);
        background-size: 100% 4em;
        background-repeat: repeat-y;
        pointer-events: none;
        animation: shell-scroll-scanlines 8s linear infinite;
        z-index: z-index(above);
    }

    &::selection {
        background-color: $color-brand-alt;
        color: $color-black-alt;
        text-shadow: none;
    }

    code {
        padding: $spacing-medium;
    }
}

@keyframes shell-scroll-colors {
    0%,
    22.999% {
        color: $color-brand-alt;
        text-shadow: 0 0 .125rem $color-brand-alt;
    }
    23%,
    32.999% {
        color: rgba($color-brand-alt, .5);
        text-shadow: 0 0 .125rem rgba($color-brand-alt, .5);
    }
    33%,
    70.999% {
        color: $color-brand-alt;
        text-shadow: 0 0 .125rem $color-brand-alt;
    }
    71%,
    71.999% {
        color: transparent;
        text-shadow: none;
    }
    72%,
    72.999% {
        color: $color-brand;
        text-shadow: 0 0 .125rem $color-brand;
    }
    73%,
    73.999% {
        color: transparent;
        text-shadow: none;
    }
    74%,
    100% {
        color: $color-brand-alt;
        text-shadow: 0 0 .125rem $color-brand-alt;
    }
}

@keyframes shell-scroll-scanlines {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -12em;
    }
}
