////
/// Logo
/// @group components
////

.logo {
    @extend .non-selectable;
    display: inline-block;
    position: relative;
    &:hover,
    &:focus {
        transform: translateY(-0.25rem);
    }
    &:active {
        transform: translateY(.25rem);
    }

    img {
        margin: 0;
    }
}
