////
/// Primary Navigation
/// @group components
////

.nav-primary {
    float: right;
    padding: 3.25rem 0;
    white-space: nowrap;
    overflow: hidden;

    @include media("<=medium") {
        float: none;
        padding-top:    $spacing-medium;
        padding-bottom: $spacing-medium;
    }

    @include media("<=small") {
        width: 100%;
        padding-bottom: 0;
    }
}
    .nav-primary-list {
        font-size: 0;

        li {
            display: inline-block;
            font-size: $font-size-medium;

            @include media("<=small") {
                width: 33.333%;
            }
        }

        a {
            display: block;
            padding: $spacing-small $spacing-medium;

            @include media("<=small") {
                padding: $spacing-small 0;
                text-align: center;
            }
        }
    }

    .page-home .nav-primary-home a,
    .page-about .nav-primary-about a,
    .page-projects .nav-primary-projects a,
    .page-life-comix .nav-primary-life-comix a {
        @extend a:active;
    }


