details {
  /*width: 170px;*/
  display: inline-block;
  vertical-align: top;
  background-color: #101010;
  color: #8cddff;
  cursor: pointer;
  padding: 7px;
  border: double;
  font-size: 17px;
  border-radius:10px;
}


summary {
  display: block;
  width: 10em;
  position:absolute;
}

details > summary {
  padding: 2px 6px;
  width: 10em;
  background-color: #ddd;
  border: none;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
  list-style: none;
  display: contents;
  height: 50px;
}
/*
span{
  width: 10em;
}
*/
details > p {
  color: white;
  /*position:fixed;
  display: block;
  width: 500px;
  height: 50px;*/
}
/*
br {
  position:static;
  display: flex; /* makes it have a width */
  /*content: ""; /* clears default height */
  /*margin-top: 0.25em; /* change this to whatever height you want it */
  /*margin-bottom: 0em ;
  padding: 0em;
  line-height: 1.5em;
}
div { 
  display: block;
}*/


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #101010;
  color: #8cddff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: double;
  text-align: center;
  outline: none;
  font-size: 20px;
  border-radius:10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  box-shadow: 1px 0px 19px 4px #8cddff, inset 0px 0px 10px rgba(255, 255, 255, 0.5);;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.dramatic {
  font-weight:700;
  text-align:center;
  font-size:larger;
  color: #f473ff;
  text-shadow:0 0 0.5rem #f6a8ff;
}