    <footer role="contentinfo">
        <section class="wrap  clear">

            <p>The FLYKNIFE COMICS OFFICIAL WEBZONE is currently under construction! Please bear with us while we rebuild in the wake of the Battery's destruction.</p>
            <p>Full functionality will be restored as promptly as possible and in accordance with the directives of the Binary Order.</p>
            <p>Any inquires, comments or whatnot can be directed to flyknifeComics[at]gmail[dot]com.</p>

        </section>
    </footer>

    {% include body/body-css-js.html %}

</body>
</html>
