<!DOCTYPE html>

<html lang="en">

{% include head/head.html %}

<body{% if body_class != "" %} class="{{ body_class_array | join:'  ' }}"{% endif %} itemscope itemtype="http://data-vocabulary.org/WebPage">

    <header class="wrap  clear" role="banner">

        <a rel="home" class="logo" href="/" title="{{ site.title }}" tabindex="-1">
            <img alt="" role="presentation"
                 src="{{ site.baseurl | prepend: site.url }}/images/logo.png"
                 srcset="{{ site.baseurl | prepend: site.url }}/images/logo.png 1x,
                         {{ site.baseurl | prepend: site.url }}/images/logo@2x.png 2x"
                 width="236" height="153">
        </a>

        {% include components/nav-primary.html %}

    </header>
