{% comment %}
*
* This include lets you easily add a toggleable modal for comics.
*
* @param {String} file name *
* @param {String} alt
*
* @example
*   {% include content/toggle.html file="/images/comic.png" alt="This is a comic." %}
*   // <section class="modal-toggle">
*   //   <input class="hidden  modal-toggle-input" type="checkbox" name="modal-toggle-input-1" id="modal-toggle-input-1" aria-hidden="true">
*   //   <div class="modal-toggle-box">
*   //     <figure>
*   //       <img src="/images/comic.png" alt="This is a comic.">
*   //       <label class="modal-toggle-label" for="modal-toggle-input-1" role="button"></label>
*   //     </figure>
*   //   </div>
*   // </section>
*
{% endcomment %}
{% assign modal_toggle_count = modal_toggle_count | plus: 1 %}
<section class="modal-toggle">
    <input class="hidden  modal-toggle-input" type="checkbox" name="modal-toggle-input-{{ modal_toggle_count }}" id="modal-toggle-input-{{ modal_toggle_count }}" aria-hidden="true">
    <div class="modal-toggle-box">
        <figure>
            <img src="/images/{{ include.file }}" alt="{{ include.alt }}">
            <label class="modal-toggle-label" for="modal-toggle-input-{{ modal_toggle_count }}" role="button"></label>
        </figure>
    </div>
</section>
