{% include layouts/header.html %}


<main class="wrap  clear" role="main">
    <article>

        {% include main-aside/main-aside.html %}

        <h1 id="article" class="title" role="heading">
            <span itemprop="name">{{ page.title }}</span>
        </h1>

        {% if page.lede %}
            <h2 class="lede" itemprop="description">{{ page.lede }}</h2>
        {% endif %}

        {% if page.edit_text %}
            <div class="edit">
                <time datetime="{{ page.edit_date | date_to_xmlschema }}">Edit{% if page.edit_date %} ({{ page.edit_date | date: '%d %b, %Y' }}){% endif %} &mdash;</time>
                <p>{{ page.edit_text }}</p>
            </div>
        {% endif %}

        {% if page.title == "THE VALIANT STARS" %}
            <div id="popup-container" class="popup-container">
                <div id="popup" class="popup">
                    <div class="popup-interior">
                        <img id="popup-image" class="popup-image" />
                    </div>
                    <div class="popup-interior">
                        <h3 id="popup-title">Title</h3>
                        <p id="popup-text">Description!</p>
                    </div>
                    <a id="popup-close" href="#">X</a>
                </div>
            </div>
        {% endif %}

        {{ content }}

        {% if page.author %}<p>
            <em>Cheers,<br>
            {{ page.author }}</em>
        </p>{% endif %}

    </article>
</main>


{% include layouts/footer.html %}
