.current-image img {
  width: 100%;
}

body {
  background-color:black;
}

body a {
  color: white;
  font-family: 'VT323', monospace;
  font-size: 50px;
  margin: 25px;
}

.navigation {
  margin: 0 auto;
  text-align: center;
}
